a {
  text-decoration: none;
  color: aquamarine;
}
.links {
  font-size: large;
}

.gh {
  color: black;
}

html {
  scroll-behavior: smooth;
}

#templix {
  height: 168.95px;
}

.tech-section {
  padding-top: 1em;
}
.tech-list {
}
